{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
    <div class="col-xl">
        <div class="card mb-4">

            <div class="content-wrapper">
                <!-- Content -->
    
                <div class="container-xxl flex-grow-1 container-p-y">
                  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Inteções /</span> Minhas Intenções</h4>
    
                  <div class="card">
                    <div class="table-responsive text-nowrap">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nome</th>
                            <th>Dispositivo</th>
                            <th>Comando</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for intent in intents %}
                                <tr>
                                    <td>{{intent.name}}</td>

                                    <td><span class="badge bg-label-primary me-1">{{intent.device.name}}</span></td>
                                    <td><span class="badge bg-label-primary me-1">{{intent.command.name}}</span></td>
                                    <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"
                                            ><i class="bx bx-edit-alt me-1"></i> Editar</a
                                        >
                                        <a class="dropdown-item" href="javascript:void(0);"
                                            ><i class="bx bx-trash me-1"></i> Deletar</a
                                        >
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
    
                <div class="content-backdrop fade"></div>
              </div>

        </div>
    </div>
    </div>
</div>

{% endblock %}